@model List<Sinif>

    <a asp-action="Index" asp-controller="DersProgramis1" class="dropdown-toggle
                                id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false"
                                >Sınıf</a>

     <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
 <li>
     <a asp-action="Index" asp-controller="DersProgramis1" class="dropdown-item
                               " id="dropdownMenuButton" 
                                >Tümü</a>
     </li>
    @foreach (var item in Model)
    {
        <li>
        <a asp-action="Index" asp-controller="DersProgramis1" asp-route-sinifId="@item.SinifId" class="dropdown-item
                                "> @item.SinifName</a>
        </li>
    }

       </ul>


